@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #050505;
  --foreground: #ededed;
  /* Default Theme (Cyberpunk) */
  --primary: #8b5cf6;
  /* purple-500 */
  --secondary: #3b82f6;
  /* blue-500 */
  --accent: #d946ef;
  /* fuchsia-500 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}